.n-filter {
    position: relative;
    width: 100%;
    padding: 0 16px; /* padding-x:6 --gap-6 */

    .item-wrapper {
        --bar-gap: 10px;
        align-items: center;
        display: inline-flex;
        gap: var(--bar-gap);
        padding: 8px 0; /* padding-y:2 --gap-2 */
        margin-right: 68px;
    }

    .reset-box {
        display: flex;
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;

        .gradation {
            width: 40px;
            height: 100%;
            background-image: linear-gradient(270deg, rgb(255, 255, 255) 0px, rgba(255, 255, 255, 0));
        }

        .btn-box {
            display: flex;
            align-items: center;
            background-color: var(--color-base-1);

            .reset-btn {
                box-sizing: content-box;
                gap: 6px;
                border-radius: 6px;
                padding: 6px 12px 6px 12px;
                margin-left: 8px;
                margin-right: 16px;

                background-color: var(--color-base-1);
                /*z-index: 1;*/

                --icon-color: var(--color-sub-1);
                --icon-size: var(--icon-size-4);
                color: var(--color-sub-1);
            }

            @media (min-width: 400px) {
                .reset-btn {
                    text-align: center;
                    text-indent: 0 !important;
                    width: auto;
                }
            }

            .n-icon:hover {
                background-color: var(--color-base-2);
            }

            .n-icon:not(.n-deco) {
                text-indent: -999px;
            }
        }
    }

    /* gradation */
    /*.reset-box::before {*/
    /*    content: "";*/
    /*    width: 40px;*/
    /*    height: 100%;*/
    /*    background-image: linear-gradient(270deg, rgb(255, 255, 255) 0px, rgba(255, 255, 255, 0));*/
    /*}*/

}

/*=======================================================================================*/

/* guest/reservation/list */
.n-filter-rv {
    .item-wrapper {
        --bar-gap: 16px;
    }
}