.profile-card {
    display: flex;
    padding: 0 var(--gap-6) var(--gap-8) var(--gap-2);
    align-items: center;
    justify-content: space-between;

    .overview {
        display: flex;
        font-size: var(--font-size-6);
        font-weight: bold;

        div {
            margin-left: var(--gap-2);
            margin-top: var(--gap-3);
        }
    }

    .img-wrapper {
        width: 60px;
        height: 60px;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: 50px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .n-btn {
        --btn-padding: 8px;
    }
}

@media (min-width: 768px) {

    .profile-card {
        padding: var(--gap-6);

        .overview {
            div {
                margin: var(--gap-3);
            }
        }

        .img-wrapper {
            width: 80px;
            height: 80px;
        }

        .n-btn {
            --btn-padding: 14px;
        }
    }



}
